<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | {{ site.name }}</title>
		<meta name="viewport" content="width=device-width">
		<link href="http://s.effectiveprogramming.com/css/main.css" rel='stylesheet' type='text/css'>
		<link href="http://s.effectiveprogramming.com/css/syntax.css" rel='stylesheet' type='text/css'>
		<link href="/css/site.css" rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="header">
			<div class="content">
				<div class="title">
					<div class="logo"><a href="/" title="Effective Programming Tutorials Home">{{ site.title }}</a></div>
				</div>
				<div class="subtitle">
					<a href="http://www.effectiveprogramming.com/" title="Effective Programming Home">Effective<br/>Programming</a>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="toolbar">
				<ul class="left">
					<li><a href="http://www.effectiveprogramming.com/">www</a></li>
					<li><a href="http://blog.effectiveprogramming.com/">blog</a></li>
					<li><a href="http://bliki.effectiveprogramming.com/">bliki</a></li>
					<li><a href="http://lightning.effectiveprogramming.com/">lightning</a></li>
					<li><a href="http://podcasts.effectiveprogramming.com/">podcasts</a></li>
					<li><a href="http://projects.effectiveprogramming.com/">projects</a></li>
					<li><a href="http://tutorials.effectiveprogramming.com/">tutorials</a></li>
					<li><a href="http://www.effectiveprogramming.com/about/index.html">about</a></li>
				</ul>
			</div>
			{{ content }}
		</div>
		<div class="footer">
			<div class="content">
				<div class="copyright">
					<p>
						© 2014 Luther Baker
					</p>
				</div>
				<div class="contact">
					<p>
						<a href="http://www.effectiveprogramming.com">effectiveprogramming.com</a>
					</p>
					<p>
						<a href="http://github.com/EffectiveProgramming">github.com/EffectiveProgramming</a>
					</p>
					<p>
						<a href="http://twitter.com/effprog">twitter.com/effprog</a><br>
					</p>
				</div>
			</div>
		</div><script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-8492131-8', 'effectiveprogramming.com');
		ga('send', 'pageview');

		</script>
	</body>
</html>
